ion-slides {
    height: 100%;

    ion-spinner {
        margin: auto;
    }

    pinch-zoom {
        width: 100%;
    }
}

ion-toolbar {
    color: white;
    --background: transparent;
    --ion-color-base: transparent !important;
}

img {
    max-height: 100vh !important;
}

ion-content{
    --ion-background-color:black;
    height: 100%;
}

.slide-zoom {
    height: 100%;
}

.full {
    position: absolute; 
    height: 100%;
    width: 100%;
}