ion-fab-button {
    right: 8px;
    bottom: -28px;
    z-index: 1;
    float: right;
    position: absolute;
}

ion-slide {
    position: relative;
}

ion-slides {
    height: 250px;
    margin-bottom: 28px;
}

.wrapper {
    position: relative;
}