<!--
  Generated template for the TurmasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Turmas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="popoverDeslogar($event)">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div [ngSwitch]="userType">
    <div *ngSwitchCase="'Professor'">
      <ion-card *ngFor="let turma of turmas">
        <ion-item>
          <ion-card-header (click)="showListasPresenca(turma)">
            <ion-card-title>{{turma.nome}}</ion-card-title>
            <ion-card-subtitle>{{turma.ano}}/{{turma.semestre}}</ion-card-subtitle>
          </ion-card-header>

          <h3 style="font-size: 14px">Cód. {{turma.id}}</h3>
          <ion-button fill="clear" (click)="apagar($event, turma)">
            <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-card-content>
          <ion-button fill="clear" (click)="getAlunos(turma)">
            <ion-icon slot="start" name="people"></ion-icon>
            Alunos
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="editar(turma)" color="primary">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="export(turma)">
            <ion-icon name="download"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <div padding-top *ngIf="turmas && turmas.length <= 0">
        <ion-item>
          Você ainda não criou nenhuma turma!
        </ion-item>
        <ion-item>
          Click no botão abaixo para criar uma turma
        </ion-item>
      </div>
    </div>

    <div *ngSwitchCase="'Aluno'">
      <ion-card *ngFor="let turma of turmas">
        <ion-item>
          <ion-card-header (click)="goPresencasTurmaPage(turma)">
            <ion-card-title>{{turma.nome}}</ion-card-title>
            <ion-card-subtitle>{{turma.ano}}/{{turma.semestre}}</ion-card-subtitle>
          </ion-card-header>

          <ion-button fill="clear" (click)="desinscrever($event, turma)">
            <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>

      <ion-item *ngIf="turmas && turmas.length <= 0">
        Inscreva-se em uma turma!
      </ion-item>
    </div>

  </div>

  <div style="width: 100%; height: 75px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button ion-fab (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>