// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-item{
    ion-button{
        padding: 0px;
        margin: 0px;
        ion-icon{
            color: black;
        }   
    }
    h3 {
        margin: 0px;
        padding-right: 8px;
        font-size: 14px;
    }
}

img-loader {
    img {
        min-width: 100%;
        min-height: 250px !important;
        object-fit: cover;
    }
}

.swiper-pagination-bullet {
    background: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #007aff;
    opacity: 1;
}

.trash-icon {
    ion-icon{
        color: red !important;
        fill: red;
    }
    span {
        color: red !important;
    }
}