// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-item {
    ion-button {
        padding: 0px;
        margin: 0px;

        ion-icon {
            color: black;
        }
    }

    h3 {
        margin: 0px;
        padding-right: 8px;
        font-size: 14px;
    }
}

img-loader {
    img {
        min-width: 100%;
        min-height: 250px !important;
        object-fit: contain;
    }
}

.swiper-pagination-bullet {
    background: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #007aff;
    opacity: 1;
}

.trash-icon {
    ion-icon {
        color: red !important;
        fill: red;
    }

    span {
        color: red !important;
    }
}

ion-card {
    ion-item {
        img {
            min-height: 0px !important;
            height: 100%;
            border-radius: var(--border-radius);
            object-fit: cover;
        }

        ion-card-header {
            padding-left: 0px;
            width: 100%
        }

        ion-button {
            float: right;
        }

        h3 {
            float: right;
            margin: 0px;
            white-space: nowrap;
            padding-right: 8px;
            font-size: 14px;
        }
    }
}

ion-textarea {
    border: solid 1px #dedede;
    border-radius: 3px;
}

ion-card-content {
    padding-top: 2px !important;
    padding-bottom: 2px !important;

    ion-button {
        margin: 0px;
        --color: initial;
        --padding-start: 8px;
    }

    ion-button[slot="end"] {
        float: right;
        --padding-start: 8px;
        --padding-end: 8px;
    }
}

form:not([notfull]) {
    height: 100%;

    #wrapper {
        display: flex;
        flex-direction: column;

        ion-button {
            position: absolute;
            align-self: center;
            width: 65%;
            margin-bottom: 16px;
            bottom: 0px;
        }
    }
}

#wrapper-bottom {
    padding: 0px 16px 8px 16px;
    display: flex;
    position: absolute;
    width: 100%;
    background: white;
    bottom: 0;
    flex-direction: column;

    ion-button {
        width: 65%;
        align-self: center;
    }
}

#list-scroll {
    height: 80%;
    overflow: scroll;
}

#wrapper {
    padding: 0px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;

    ion-button {
        width: 65%;
        align-self: center;
    }
}

#senhaWrapper {
    display: flex;

    ion-item {
        width: 100%;
        display: inline-block;
    }

    ion-checkbox { 
        align-self: center;
        margin: 0 8px;
    }
}

#badgeWrapper {
    display: flex;
    align-items: center;
    
    ion-badge { 
        margin: 0 4px;
    }
}

.ion-page {
    align-items: center;
}

@media (min-width: 576px) {
    ion-content {
        max-width: 100%;
    }

    .swiper-slide {
        img {
            max-height: 100%;
        }
    }
}
@media (min-width: 768px) {
    ion-content {
        max-width: 75%;
    }

    .swiper-slide {
        img {
            max-height: -webkit-fill-available;
        }
    }
}
@media (min-width: 992px) {
    ion-content {
        max-width: 67%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }